* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid red; }

.navigation {
  height: 100px;
  background-color: white;
  margin: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navigation__list {
  list-style: none;
  display: flex; }

.navigation__item {
  margin-left: 57px;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem; }

.navigation__item--first {
  margin-left: 0; }

.navigation__link {
  text-decoration: none;
  color: black; }
