* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #97ca2f;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1055px;
  margin: 0 auto; }

nav {
  height: 100px;
  color: black;
  background-color: yellow; }
