* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
<<<<<<< HEAD
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}
=======
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8rem;
  border: 1px solid red; }
>>>>>>> a4a35ae26984a7b84b3a8a2e6c9a9e6c44dbeb85

.section__title {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    padding-bottom: 2rem;
}

.section__text {
    font-size: 1.8rem;
    padding-bottom: 2rem;
}

.navigation {
<<<<<<< HEAD
    height: 18rem;
    background-color: white;
    padding: 4rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__list {
=======
  padding: 6rem 0; }
  .navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navigation__list {
>>>>>>> a4a35ae26984a7b84b3a8a2e6c9a9e6c44dbeb85
    list-style: none;
    display: flex;
}
.navigation__item {
    margin-left: 5.7rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
.navigation__item--first {
    margin-left: 0;
}
.navigation__link {
    text-decoration: none;
    color: black;
}

.get-started {
<<<<<<< HEAD
    padding: 2rem 8rem;
    display: flex;
}
.get-started__left,
.get-started__right {
    flex-basis: 50%;
}
.get-started__left {
=======
  padding: 2rem 0; }
  .get-started__container {
    display: flex; }
  .get-started__left, .get-started__right {
    flex-basis: 50%; }
  .get-started__left {
>>>>>>> a4a35ae26984a7b84b3a8a2e6c9a9e6c44dbeb85
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.get-started__form {
    padding-bottom: 4rem;
}

.info {
    color: white;
    background-color: #070439;
    padding: 11rem 8rem 7rem;
}
.info__content {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
.info__box {
    display: flex;
    flex-direction: column;
}
.info__box--first {
    flex-basis: 35%;
}
.info__box--second {
    flex-basis: 21%;
}
.info__box--third {
    flex-basis: 20%;
}
.info__box--social {
    flex-direction: row;
    align-items: flex-start;
    flex-basis: 24%;
}
.info__contact {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.info__contact-icon {
    margin-right: 2rem;
}
.info__contact-data--email {
    color: white;
    text-decoration: none;
}
.info__link {
    color: white;
    text-decoration: none;
    margin-top: 2rem;
}

.fab {
    padding-top: 0.7rem;
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1.2rem;
}

.btn {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #3065f8;
    width: 20rem;
    height: 4.4rem;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 0 0 #f6f6fe;
    cursor: pointer;
}

.input {
    width: 32rem;
    height: 4.4rem;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: 5px 5px 0 0 #f6f6fe;
}
.input::placeholder {
    color: #bfbfbf;
}
