// Colors
$color-main: white;
$color-secondary: black;
$color-dark-blue: hsl(243, 87%, 12%);
$color-desaturated-blue: hsl(238, 22%, 44%);
$color-bright-blue: hsl(224, 93%, 58%);
$color-moderate-cyan: hsl(170, 45%, 43%);
$color-light-blue: hsl(240, 75%, 98%);
$color-light-grey: hsl(0, 0%, 75%);

// Fonts
$font-main: 'Open Sans', sans-serif;
$font-second: 'Raleway', sans-serif;

// Mixins
@mixin input {
    width: 320px;
    height: 44px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 15px;
    padding-left: 15px;
    box-shadow: 5px 5px 0 0 $color-light-blue;
    &::placeholder {
        color: $color-light-grey;
    }
}
@mixin btn {
    color: $color-main;
    font-family: $font-second;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: $color-bright-blue;
    width: 200px;
    height: 44px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 0 0 $color-light-blue;
}