//base styling

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //// 1 rem = 10px, 10px/16p = 62.5%
}

body {
    background-color: $color-main;
    height: 100vh;
    overflow: hidden;
    font-family: $font-main;
}

// responsive image

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}

.section__title {
    font-family: $font-second;
    font-size: 4rem;
    line-height: 1.5;
    padding-bottom: 20px;
}

.section__text {
    font-size: 1.8rem;
    padding-bottom: 20px;
}